#title {
    background-color: darkslateblue;
}

/* EntryPointEditorNode */

EntryPointEditorNode {
    background-color: #111;
}

EntryPointEditorNode #title {
    background-color: #487548;
}

/* TextEditorNode */

TextEditorNode {
    background-color: #111;
}

TextEditorNode #title {
    background-color: darkslategrey;
}

TextEditorNode .DialogueText-textfield > .unity-text-field__input {
    max-height: 200px;
}


/* BranchEditorNode */

BranchEditorNode {
    background-color: #111;
}

BranchEditorNode #title {
    background-color: darkslateblue;
}

BranchEditorNode .output-textfield > .unity-text-field__input {
    height: 20px;
}

BranchEditorNode .choice-button {
    font-size: 15px;
}

BranchEditorNode .delete-choice-button {
    font-size: 15px;
    width: 18px;
    color: #ff4b4b;
}

/* ConditionEditorNode */

ConditionEditorNode {
    background-color: #111;
}

ConditionEditorNode #title {
    background-color: #804f4b;
}

/* Unity */

TextField
{
    padding: 4px;
}

FloatField
{
    padding: 4px;
}

IntegerField
{
    padding: 4px;
}

Button
{
    background-color: #252729;
    border-color: #1D1D1E;
    margin: 4px;
    max-height: 25px;
}

Button:hover
{
    background-color: #2B2D2F;
}

Button:active
{
    background-color: #212325;
    color: #FDD057;
}

.unity-text-field__label
{
    padding: 4px;
}

.unity-float-field__label {
    padding: 4px;
}

.unity-integer-field__label {
    padding: 4px;
}

TextField:focus > .unity-text-field__label
{
    color: #FDD057;
}

FloatField:focus > .unity-float-field__label
{
    color: #FDD057;
}

FloatField:focus > .unity-integer-field__label
{
    color: #FDD057;
}

.unity-text-field__input
{
    background-color: #1D1D1E;
    border-color: #27292C;
    border-radius: 4px;
    max-height: 35px;
    min-width: 30px;
    padding-left: 3px;
    padding-right: 3px;
}

.unity-float-field__input
{
    background-color: #1D1D1E;
    border-color: #27292C;
    border-radius: 4px;
    max-height: 35px;
    min-width: 30px;
    padding-left: 3px;
    padding-right: 3px;
}

.unity-integer-field__input
{
    background-color: #1D1D1E;
    border-color: #27292C;
    border-radius: 4px;
    max-height: 35px;
    min-width: 30px;
    padding-left: 3px;
    padding-right: 3px;
}

.unity-text-field__input:focus
{
    color: #FDD057;
}

.unity-float-field__input:focus
{
    color: #FDD057;
}

.unity-integer-field__input:focus
{
    color: #FDD057;
}