# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# Rider generated
.idea/

# User-specific files
/[Ll]ibrary/[Ss]tate/
/[Ll]ibrary/[Cc]ache/
/[Tt]emp/UnityLockfile

# Build artifacts
/*.build/
/*.unitypackage

# Unity3D generated meta files
*.pidb.meta

# Rider
*.sln.iml
